@media (min-width: 481px) and (max-width: 536px) {
  .header-wrapper .header .name-title {
    order: 2;
    margin-top: 85px;
    padding-right: 35px; }
  .header-wrapper .header .hammy {
    order: 3; }
  .header-wrapper .header .face {
    padding-left: 0;
    margin: .01px; } }

@media only screen and (min-width: 537px) {
  .header-wrapper .header .name-title {
    order: 2;
    margin-top: 85px;
    padding-right: 90px; }
  .header-wrapper .header .hammy {
    order: 3; }
  .header-wrapper .header .face {
    padding-left: 0;
    margin: .01px; } }
